<div class="container">
  <ion-item class="pt-3 s-area">
    <ion-input #searchInput></ion-input>
    <ion-button [disabled]="searchedTags.length === 0" (click)="random()">
      <ion-icon name="shuffle"></ion-icon>
    </ion-button>
  </ion-item>
  <div class="rs-area">
    <ion-chip *ngFor="let tag of searchedTags" (click)="clickTag(tag)" [ngClass]="{'selected': isSelected(tag)}">
      <ion-label>{{tag.name}} | {{tag.media_count | parseInt}}</ion-label>
    </ion-chip>
  </div>
</div>