<div class="container">
  <ion-item class="pt-3 s-area">
    <ion-input #raw></ion-input>
    <ion-button (click)="random()">
      <ion-icon name="shuffle"></ion-icon>
    </ion-button>
  </ion-item>
  <div class="rs-area">
    <ion-chip *ngFor="let tag of tags">
      <ion-label>{{tag.name}} | {{tag.media_count | parseInt}}</ion-label>
    </ion-chip>
  </div>
</div>