<div class="container">
  <div class="rs-area py-3">
    <ion-chip *ngFor="let tag of tags" (click)="clickTag(tag)">
      <ion-label>{{tag.name}} | {{tag.media_count | parseInt}}</ion-label>
    </ion-chip>
  </div>
  <div class="action">
    <ion-button expand="full" (click)="copy()">Copy</ion-button>
  </div>
</div>