.container {
  height: 100%;
  padding: 0px;
  .content {
    height: 92%;
    .hide {
      display: none;
    }
  }
  .nav-bot {
    height: 8%;
    .nav-item {
      font-size: x-large;
      box-shadow: inset 0 0 1px;
      &.active {
        background-color: #6fadd8;
        color: white;
      }
    }
  }
}
