<div class="container">
  <div class="content">
    <app-search [(tags)]="tags" [ngClass]="{hide: currentPage !== 'search'}"></app-search>
    <app-hashtags [(tags)]="tags" [ngClass]="{hide: currentPage !== 'hashtags'}">
    </app-hashtags>
    <app-save [ngClass]="{hide: currentPage !== 'save'}">
    </app-save>
  </div>
  <div class="nav-bot d-flex">
    <div class="nav-item flex-fill d-flex justify-content-center align-items-center active"
      (click)="currentPage = 'search'" [ngClass]="{'active': currentPage === 'search'}">
      <ion-icon name="search"></ion-icon>
    </div>
    <div class="nav-item flex-fill d-flex justify-content-center align-items-center" (click)="currentPage = 'hashtags'"
      [ngClass]="{'active': currentPage === 'hashtags'}">
      <div>
        <ion-icon name="copy"></ion-icon>
        <ion-badge slot="end">{{ tags.length }}</ion-badge>
      </div>
    </div>
    <div class="nav-item flex-fill d-flex justify-content-center align-items-center" (click)="currentPage = 'save'"
      [ngClass]="{'active': currentPage === 'save'}">
      <ion-icon name="cloud-download"></ion-icon>
    </div>
  </div>
</div>